---
layout: index
title: Lassen Sie sich inspirieren und schaffen Sie mit uns Ihr Traumhaus! - Treehouse
description: Treehouse ist eine Plattform, auf der Sie viele brillante Ideen für Haus und Garten finden können. Lassen Sie sich inspirieren und finden Sie Produkte, die alle Ihre Erwartungen erfüllen.
---
<main class=" page page-index">
    <div class="beams-wrapper global-beam-wrapper index-title">
        <div class="beam b-size-4">
            <div class="beam-item b-size-4 index-title-content">
                <svg id="Signature_-_gray" data-name="Signature - gray" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <g id="Group_42" data-name="Group 42" transform="translate(-172.5 -172.5)" opacity="0.19">
                        <path id="Path_129" data-name="Path 129" d="M214.082,188.5v8.909a1.018,1.018,0,0,1-1.018,1.018H209.5v-8.176Z" transform="translate(-27.582 -11.927)" fill="#233030"/>
                        <path id="Path_130" data-name="Path 130" d="M177.845,178.1v1.782l2.291-.876V186.5h-6.618a1.018,1.018,0,0,1-1.018-1.018V173.518a1.018,1.018,0,0,1,1.018-1.018h11.964a1.018,1.018,0,0,1,1.018,1.018v1.273Z" fill="#233030"/>
                    </g>
                </svg>
                <h1>Lassen Sie sich inspirieren und schaffen Sie mit uns Ihr Traumhaus!</h1>
            </div>
        </div>
    </div>
    <div class="beams-wrapper global-beam-wrapper index-content">
        <div class="beam b-size-4">
            <div class="beam-item b-size-4 index-articles">
                <section class="beam b-size-4">
                    <div class="beam-item b-size-4">
                        <h2 class="h-section">Neueste Artikel</h2>
                    </div>

                    {% assign articles = site.posts | where:"lang", "de" %}
                    {% assign i = 0 %}

                    {% for article in articles limit: 10 %}
                      {% if i == 0 or i == 9 %}
                        <div class="beam-item b-size-2">
                          {% include parts/articles-listing-boxitem-lg.html article=article %}
                        </div>
                      {% else %}
                      <div class="beam-item b-size-1">
                        {% include parts/articles-listing-boxitem-sm.html article=article %}
                      </div>
                      {% endif %}

                      {% assign i = i | plus: 1 %}
                    {% endfor %}
                </section>
            </div>
        </div>

        <div class="beam  b-size-4">
            <section class="beam-item b-size-2">
              <h2 class="h-section">Lassen Sie sich von den neuesten Trends inspirieren</h2>
              <p>Bringen Sie die originellsten Projekte in Ihr Haus. Lassen Sie sich von unseren besten Einrichtungsideen inspirieren. Auf Treehouse finden Sie die innovativsten Projektentwürfe. Vielleicht sind Sie ein Traditionalist? Wir haben für Sie vorgesorgt. Wir haben einige frische Entwürfe von bekannten klassischen Formen vorbereitet. Auf unserer Website finden Sie die neuesten Trends und Stile in der Inneneinrichtung.</p>
            </section>
            <section class="beam-item b-size-2">
              <h2 class="h-section">Fragen Sie unsere Experten</h2>
              <p>Sie träumen von einem schönen Haus oder Garten, aber Sie wissen nicht, wo Sie anfangen sollen? Sie suchen eine Beratung bei der Auswahl eines Produkts, bei der Renovierung oder bei der Einrichtung Ihres Zimmers? Sie sind sich nicht sicher, welche Möbel Sie wählen sollen oder ob sie in Ihr Haus passen? Machen Sie sich keine Sorgen mehr. Wenden Sie sich an unsere Spezialisten. Wir haben für Sie die besten und originellsten Tipps und Tricks zu verschiedenen Themen vorbereitet.</p>
            </section>
        </div>
    </div>
</main>
