{% faqItem %}
  {% faqQuestion %}
    Ile kosztuje czyszczenie pralki?
  {% endfaqQuestion %}

  {% faqAnswer %}
    Koszt domowych sposobów na czyszczenie pralki to zaledwie kilka złotych. Wiąże się to jedynie z zakupem środków, takich jak ocet, soda lub kwasek cytrynowy. Jest to rozwiązanie o wiele tańsze, niż stosowanie specjalistycznych produktów do czyszczenia.
  {% endfaqAnswer %}
{% endfaq %}
