---
layout: default
title: Treehouse
---

<div class="container">
  <!-- begin author -->
  <section class="author">
    <div class="author__inner">
  <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
      <h1 class="author__job">{{ site.author.job }}</h1>
      <p class="author__bio">TreeHouse to miejsce, w którym znajdziesz wskazówki dotyczące domu i ogrodu. Zainspiruj się się pomysłami i znajdź produkty odpowiadające Twoim oczekiwaniom.</p>
      <div class="author__more">
        <a href="mailto:{{site.author.email}}?subject=Hello%20%F0%9F%91%8B" class="say-hello">Napisz do nas!</a>
        <a href="/pl/o-treehouse/" class="know-more">Dowiedz się więcej</a>
      </div>
    </div>
  </section>
  <!-- end author -->

  {% if site.posts.size > 0 %}
    {% for article in site.posts limit:3 %}
      {% if article.lang == 'pl' %}

        {% include parts/article.html article=article %}

      {% endif %}
    {% endfor %}
  {% endif %}
</div>
