<div class="beams-wrapper global-beam-wrapper breadcrumbs">
    <div class="beam b-size-4">
        <div class="beam-item b-size-4 breadcrumbs-content">
            <svg id="Signature_-_gray" data-name="Signature - gray" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <g id="Group_42" data-name="Group 42" transform="translate(-172.5 -172.5)" opacity="0.19">
                    <path id="Path_129" data-name="Path 129" d="M214.082,188.5v8.909a1.018,1.018,0,0,1-1.018,1.018H209.5v-8.176Z" transform="translate(-27.582 -11.927)" fill="#233030"/>
                    <path id="Path_130" data-name="Path 130" d="M177.845,178.1v1.782l2.291-.876V186.5h-6.618a1.018,1.018,0,0,1-1.018-1.018V173.518a1.018,1.018,0,0,1,1.018-1.018h11.964a1.018,1.018,0,0,1,1.018,1.018v1.273Z" fill="#233030"/>
                </g>
            </svg>
            <ul>
                {% assign index = site.pages | where: "layout", "index"  | where: "lang" , page.lang %}
                {% for item in index %}
                    <li><a href="{{item.url}}">{{item.page_name}}</a></li>
                {% endfor %}
                {% if  page.layout == "post" %} 
                    {% assign blog = site.pages | where: "layout", "blog"   | where: "lang" , page.lang %}
                    {% for item in blog %}
                        <li><a href="{{item.url}}">{{item.page_name}}</a></li>
                    {% endfor %}
                {% endif %}                
                {% if  page.layout == "event" %} 
                    {% assign events = site.pages | where: "layout", "events"   | where: "lang" , page.lang %}
                    {% for item in events %}
                        <li><a href="{{item.url}}">{{item.page_name}}</a></li>
                    {% endfor %}
                {% endif %}
                {% if  page.layout == "ranking-hub" %} 
                    {% assign rankings = site.pages | where: "layout", "rankings"   | where: "lang" , page.lang %}
                    {% for item in rankings %}
                        <li><a href="{{item.url}}">{{item.page_name}}</a></li>
                    {% endfor %}
                {% endif %}                
                {% if  page.layout == "ranking" %} 
                    {% assign rankings = site.pages | where: "layout", "rankings"   | where: "lang" , page.lang %}
                    {% for item in rankings %}
                        <li><a href="{{item.url}}">{{item.page_name}}</a></li>
                    {% endfor %}
                    {% assign rankings_hub = site.pages | where: 'is_hub', true | where: 'hub_name', page.hub_name %}
                    {% for item in rankings_hub %}
                        <li><a href="{{item.url}}">{{item.h1}}</a></li>
                    {% endfor %}
                {% endif %}
                {% if  page.layout == "post" %} 
                    <li><a href="{{page.url}}">{{page.title}}</a></li>
                {% elsif page.layout == "ranking-hub"  or page.layout == "ranking"  or page.layout == "event" %}
                    <li><a href="{{page.url}}">{{page.h1}}</a></li>
                {% else %}
                    <li><a href="{{page.url}}">{{page.page_name}}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>