<script type="text/javascript">
  function menuButtonAction() {
      const menuButton = document.querySelector("#menuButton"),
          menuContainer = document.querySelector("#menuContainer");
      menuButton.classList.toggle("open");
      menuContainer.classList.toggle("open");
  }
  function reply_click(link)  {
    if ( link) {
      setTimeout(function(){ 
          window.location.href = link;
      }, 2500)
    }
  }
</script>


<footer class="beams-wrapper global-beam-wrapper page-footer">
  <div class="beam">
    <div class="beam-item page-footer-content">
      <p class="copy">© 2018 - 2020 Treehouse. All rights reserved.</p>
      <nav>
        <ul>
          <li>
            <a href="/" class="btn btn-link">Start</a>
          </li>
          {% if page.lang == 'pl' or page.layout == "open" %}
          <li>
            <a href="https://druks.pl/" class="btn btn-link">Druks</a>
          </li>
          <li>
            <a href="https://domowezoo.pl/" class="btn btn-link">DomoweZoo</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <div class="language">
        <p>{{ site.i18n[page.lang].select_country }}:</p>

        {% if page.lang == 'us' %}
          <a href="/us/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/us/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-usa.svg" alt="United States flag"/>
        </a>

        {% if page.lang == 'pl' %}
          <a href="/pl/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/pl/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-poland.svg" alt="Poland flag">
        </a>

        {% if page.lang == 'de' %}
          <a href="/de/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/de/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-germany.svg" alt="Germany flag">
        </a>

        {% if page.lang == 'es' %}
          <a href="/es/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/es/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-spain.svg" alt="Spain flag">
        </a>

        {% if page.lang == 'fr' %}
          <a href="/fr/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/fr/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-france.svg" alt="France flag">
        </a>

        {% if page.lang == 'it' %}
          <a href="/it/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/it/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-italy.svg" alt="Italy flag">
        </a>
      </div>
    </div>
  </div>
</footer>
