<footer class="beams-wrapper global-beam-wrapper page-footer">
  <div class="beam">
    <div class="beam-item page-footer-content">
      <p class="copy">© 2018 - 2020 Treehouse. All rights reserved.</p>
      <nav>
        <ul>
          <li>
            <a href="/" class="btn btn-link">Start</a>
          </li>
        </ul>
      </nav>
      <div class="language">
        <p>{{ site.i18n[page.lang].select_country }}:</p>

        {% if page.lang == 'us' %}
          <a href="/us/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/us/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-usa.svg" alt="United States flag"/>
          United States
        </a>

        {% if page.lang == 'pl' %}
          <a href="/pl/" class="btn btn-img-left btn-active">
        {% else %}
          <a href="/pl/" class="btn btn-img-left">
        {% endif %}
          <img src="/assets/img/flag-poland.svg" alt="Poland flag">
          Polska
        </a>
      </div>
    </div>
  </div>
</footer>
