<header class="beams-wrapper global-beam-wrapper page-header">
  <div class="beam">
    <div class="beam-item page-header-content">
      <a href="{{site.baseurl}}/{{page.lang}}/" class="logo">
        <img src="/assets/img/logo.svg" alt="{{site.title}}">
      </a>
      <nav class="menu">
        {% include top-menu-list.html %}
      </nav>
      <button id="menuButton" class="menu-btn" onclick="menuButtonAction()">
        <img src="/assets/img/icon-burger.svg" alt="{{site.title}}" class="burger-icon">
        <img src="/assets/img/icon-close.svg" alt="{{site.title}}" class="close-icon">
      </button>
    </div>
  </div>
</header>
<nav id="menuContainer" class="mobile-menu">
  {% include top-menu-list.html %}
</nav>