<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#fff">
  <!-- mobile responsive meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="p:domain_verify" content=" "/>

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="manifest" href="/manifest.json">

  {% include alternate.html %}
  {% include amp.html %}

  {% treehouseseo %}

  {% include pwa.html %}

  <meta name="google-site-verification" content="85fd8fxFGicXrGYGnfbLgOJYGeLdrnF4obSdotY4D48" />

  <!-- Main Stylesheet -->
  <link href="{{ site.baseurl }}/assets/css/global.css?v=3" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/custom.css?v=3" rel="stylesheet">
</head>
