{% assign blog = site.pages | where: "lang", page.lang | where: "layout", "blog" %}
{% assign ranking = site.pages | where: "lang", page.lang | where: "layout", "rankings" %}
{% assign event = site.pages | where: "lang", page.lang | where: "layout", "events" %}
{% assign menu_pages = blog | concat: ranking | concat: event  %}
<ul>
  {% for item in  menu_pages %}
  <li>
    <a href="{{item.url}}">
      {% if item.layout == "blog" %}
      <img src="/assets/img/icon-articles.svg" alt="{{item.page_name}}">
      {% elsif item.layout == "rankings" %}
      <img src="/assets/img/icon-rankings.svg" alt="{{item.page_name}}">
      {% elsif item.layout == "events" %}
      <img src="/assets/img/icon-events.svg" alt="{{item.page_name}}">
      {%endif%}
      <span>{{item.page_name}}</span></a>
  </li>
  {%endfor%}
</ul>