---
---
// two lines are required to parse scss

@import "variables.scss";

.article-content {
    margin-top: 30px;

     // TRIK do poprawnie scrollującego się anchor linka w spisie treści.
    h2 {
      padding-top: 120px; // 30 + 90 = 120
      margin-top: -90px;

      &::before {
        top: 114.5px; // 5.5 - 120 = 114.5
      }
    }
    // END TRIK

    .article-text {
        .article-header {
            .detail-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                span {
                    align-self: flex-start;
                }
            }
        }
        .article-footer {
            .article-author {
                display: flex;
                flex-direction: row;
                border-top: 1px solid $gray-2;
                margin: 30px 0;
                .profile-photo {
                    .img {
                        max-width: 150px;
                    }
                }
                .profile-details {
                    display: flex;
                    flex-direction: column;
                    padding: 15px 0 0 20px;
                    .name {
                        font-weight: bold;
                        margin-bottom: 5px;
                        line-height: 26px;
                    }
                    p {
                        margin: 10px 0;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .more {
                        font-size: 12px;
                        text-decoration: none;
                        color: $gray-6;
                        line-height: 20px;
                        img {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
            .other-articles {
                display: flex;
                flex-direction: row;
                border-top: 1px solid $gray-2;
                margin: 30px 0;
                padding-top: 30px;
                a {
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    .title {
                        font-weight: bold;
                        margin: 10px 0;
                    }
                    &.previous {
                        padding-right: 10px;
                        >* {
                            align-self: flex-start;
                            text-align: left;
                        }
                        .arrow {
                            transform: rotate(180deg);
                        }
                    }
                    &.next {
                        padding-left: 10px;
                        >* {
                            align-self: flex-end;
                            text-align: right;
                        }
                    }
                    &:hover {
                        .title {
                            color: lighten( $main, 5%);
                        }
                    }
                    &:active {
                        transform: scale(0.97);
                    }
                }
            }
        }
    }
    .article-sidebar {
        .table-of-content {
            padding: 0 0 0 40px;
            border-left: 1px solid $gray-2;

            >.title {
                font-weight: bold;
            }

            ol, ul {
                list-style: none;
                padding-left: 20px;
                margin-top: 20px;

                li {
                    margin-top: 10px;
                    a {
                        display: inline-block;
                        text-decoration: none;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .article-content {
        .beam>.b-size-3 {
            flex-basis: 100%;
        }
        .article-sidebar {
            display: none;
        }
        .featured-articles {
            >.beam-item {
                &:first-child {
                    flex-basis: 100%;
                }
                flex-basis: 50%;
            }
        }
    }
}

@media (max-width: 450px) {
    .article-content {
        .featured-articles {
            >.beam-item {
                &:first-child {
                    flex-basis: 100%;
                }
                flex-basis: 100%;
            }
        }
    }
}

@media (max-width: 350px) {
    .article-content {
        .article-text {
            .article-header {
                .detail-box {
                    flex-direction: column;
                    >* {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            .article-footer {
                .article-author {
                    padding-top: 30px;
                    flex-direction: column;
                    .profile-details {
                        padding-left: 0px;
                    }
                }
                .other-articles {
                    flex-direction: column;
                    a {
                        &.previous {
                            padding-right: 0px;
                            padding-bottom: 20px;
                            border-bottom: 1px solid $gray-2;
                        }
                        &.next {
                            padding-top: 20px;
                            padding-left: 0px;
                            >* {
                                align-self: flex-start;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

@import "components/articles-listing-boxitem-sm.scss";
