---
---
// two lines are required to parse scss

@import "variables.scss";

.index-title {
    background-color: white;
    border-bottom: 1px solid $gray-2;

    .index-title-content {
        display: flex;
        flex-shrink: 1;
        align-items: center;
        min-height: 30px;
        flex-shrink: 0;
        svg {
            margin-right: 10px;
        }
        h1 {
            top: 3px;
            font-size: 15px;
            line-height: 20px;
            font-weight: normal;
            margin: 0px;
            word-wrap: break-word;
            padding: 5px 0;
            &:before {
                display: none;
            }
        }
    }
}

.index-sidebar {
    .h-section {
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .index-title {
        .index-title-content {
            svg {
                display: none;
            }
        }
    }
}

@media (max-width: 1050px) {
    .index-content {
        >.beam {
            >.beam-item {
                flex-basis: 100%;
            }
        }
        .index-sidebar {
            >.beam {
                >.beam-item {
                    &:first-child {
                        flex-basis: 100%;
                    }
                    flex-basis: 33.33%;
                }
                .beam-more {
                    flex-basis: 100%;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .index-content {
        >.beam {
            >.beam-item {
                >.beam {
                    >.beam-item {
                        &:first-child {
                            flex-basis: 100%;
                        }
                        flex-basis: 50%;
                    }
                    .beam-more {
                        flex-basis: 100%;
                    }
                }
            }
            .index-sidebar {
                .events-listing-listitem-sm {
                    h3 {
                        display: flex;
                        align-items: left;
                        justify-content: flex-start;
                    }
                }
                >.beam {
                    >.beam-item {
                        &:first-child {
                            flex-basis: 100%;
                        }
                        flex-basis: 100%;
                    }
                    .beam-more {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .index-content {
        >.beam {
            >.beam-item {
                >.beam {
                    >.beam-item {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}

@import "components/articles-listing-boxitem-sm.scss";
@import "components/articles-listing-boxitem-lg.scss";
@import "components/events-listing-listitem-sm.scss";
