---
---
// two lines are required to parse scss

@import "variables.scss";

.reviews-list-sidebar {
    .h-section {
        margin-bottom: 15px;
    }
}

@media (max-width: 1050px) {
    .reviews-list-content {
        >.beam {
            >.beam-item {
                flex-basis: 100%;
            }
        }
        .reviews-list-sidebar {
            .reviews-listing-listitem-sm {
                h3,
                .h3 {
                    display: flex;
                    align-items: left;
                    justify-content: flex-start;
                }
            }
            >.beam {
                >.beam-item {
                    &:first-child {
                        flex-basis: 100%;
                    }
                    flex-basis: 33.33%;
                }
                .beam-more {
                    flex-basis: 100%;
                }
            }
            .recommended-articles {
                >.beam-item {
                    flex-basis: 50%;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .reviews-list-content {
        >.beam {
            >.beam-item {
                >.beam {
                    >.beam-item {
                        &:first-child {
                            flex-basis: 100%;
                        }
                        flex-basis: 50%;
                    }
                    .beam-pagination,
                    .beam-more {
                        flex-basis: 100%;
                    }
                }
            }
            .reviews-list-sidebar {
                .events-listing-listitem-sm {
                    h3,
                    .h3 {
                        display: flex;
                        align-items: left;
                        justify-content: flex-start;
                    }
                }
                >.beam {
                    >.beam-item {
                        &:first-child {
                            flex-basis: 100%;
                        }
                        flex-basis: 100%;
                    }
                    .beam-more {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .reviews-list-content {
        >.beam {
            >.beam-item {
                >.beam {
                    >.beam-item {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}

@import "components/reviews-listing-boxitem-sm.scss";
@import "components/reviews-listing-boxitem-md.scss";

@import "components/events-listing-listitem-sm.scss";
@import "components/articles-listing-listitem-sm.scss";
@import "components/reviews-listing-listitem-sm.scss";