@font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/poppins-regular-webfont.woff2') format('woff2'), url('../fonts/poppins-regular-webfont.woff') format('woff'), url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/poppins-semibold-webfont.woff2') format('woff2'), url('../fonts/poppins-semibold-webfont.woff') format('woff'), url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: 600;
    font-style: 600;
}
