// Colors
$construction: #FFDC00;
$danger: #D40A0A;
$garden: hsla(106, 99, 27, 1);
$gray-0: #FFFFFF;
$gray-1: #F2F3F3;
$gray-2: #E7E9E9;
$gray-3: #CBCECE;
$gray-4: #868D8D;
$gray-5:#545959;
$gray-6:#292b2b;
$info: #0B6EB9;
$interior: #D60072;
$main: hsla(187, 99, 29, 1);
//Document size
$beam-gutter-size: 40px;
$beam-size: 1200px;
