---
---
// two lines are required to parse scss


// .article-content {
//
//   // TRIK do poprawnie scrollującego się anchor linka w spisie treści.
//   h2 {
//     z-index: -1;
//     padding-top: 120px; // 30 + 90 = 120
//     margin-top: -90px;
//
//     &::before {
//       top: 114.5px; // 5.5 - 120 = 114.5
//     }
//   }
//   // END TRIK
// }


.table-of-content {
    ul {
        list-style: none;
        padding-left: 20px;
        margin-top: 20px;
        li {
            margin-top: 10px;
            a {
                display: inline-block;
                text-decoration: none;
                line-height: 26px;
            }
        }
    }
}

.product-listing-boxitem-md {
  &.arrow-left {
    .cloud-arrow {
        transform: translateX(-94%) translateY(-50%) !important;
    }
  }
}
