<div class="container">
  <!-- begin footer -->
  <footer class="footer">
    <div class="footer__inner">
      <div class="contact">
        <div class="contact__title">
          <ul class="contact__list list-reset">
            <li class="contact__item">
              <a class="contact__link contact__flag" href="/pl">🇵🇱 Polska</a>
            </li>
            <li class="contact__item">
              <a class="contact__link contact__flag" href="/uk">🇬🇧 United Kingdom</a>
            </li>
            <li class="contact__item">
              <a class="contact__link contact__flag" href="/it">🇮🇹 Italia</a>
            </li>
            <li class="contact__item">
              <a class="contact__link contact__flag" href="/sk">🇸🇰 Slovensko</a>
            </li>
            <li class="contact__item">
              <a class="contact__link contact__flag" href="/cz">🇨🇿 Česká republika</a>
            </li>
            <li class="contact__item">
              <a class="contact__link contact__flag" href="/de">🇩🇪 Deutschland</a>
            </li>
          </ul>
        </div>

        <ul class="contact__list list-reset">
          {% for contact in site.contact %}
          <li class="contact__item">
            <a class="contact__link" href="{{contact.link}}">{{contact.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>
