<article class="articles-listing-listitem-sm">
    <a href="{{ include.article.url | prepend: site.baseurl }}">
      <div class="title-box">
        <div class="img-box">
          <!-- <span class="article-rank-label "><img src="/assets/img/rank-star.svg" alt="Rank"></span> -->
          <img class="img" src="{{site.baseurl}}{{include.article.image}}" alt="{{ include.article.title }}">
         </div>
        <p class="h3">{{ include.article.title }}</p>
      </div>
    </a>
</article>
