<div class="beam-item b-size-1">
    <article class="articles-listing-boxitem-sm">
        <a href="{{ include.article.url | prepend: site.baseurl }}">
            <div class="img-box img-ratio-16-9">
                <img class="img" src="{{site.baseurl}}{{include.article.image}}" alt="{{include.article.title}}">
            </div>
            <h3 class="h-articles-listing-boxitem-sm">{{include.article.title}}</h3>
            <span class="article-label article-label-garden">Ogród</span>
            <span class="article-rank-label "><img src="/assets/img/rank-star.svg" alt="Rank"></span>
        </a>
    </article>
</div>
