<article class="events-listing-listitem-md">
    <a href="event.html">
      <div class="img-box">
        <img class="img" src="assets/img/{{eventImg}}" alt="Test">
      </div>
      <div class="detail-box">
        <div class="title-box">
          <h3>{{eventTitle}}</h3>
          <span>{{eventDate}} | {{eventLocalization}}</span>
        </div>
        <p>{{eventIntro}}</p>
        <span class="more">Sprawdź szczegóły <img src="assets/img/more-arrow.svg"  alt="Przeczytaj więcej"></span>
      </div>
    </a>
</article>
