<article class="events-listing-listitem-md  {{include.status}}">
  <a href="{{ include.event.url | prepend: site.baseurl }}">
      <div class="img-box">
        <img class="img" src="{{site.baseurl}}{{include.event.organizer.logo}}" alt="{{ include.event.title }}">
      </div>
      <div class="detail-box">
        <div class="title-box">
          <p class="h3">{{ include.event.title }}</p>
          <span>{{ include.event.event_date | date: '%d-%m-%Y' }} | {{ include.event.localization }}</span>
        </div>
        <p>{{ include.event.intro }} </p>
        <span class="more">{{site.i18n[page.lang].read_more}} <img src="/assets/img/more-arrow.svg"  alt="{{site.i18n[page.lang].read_more}} "></span>
      </div>
    </a>
</article>
