<a href="" target="_blank" class="product-link-wrapper item-product-{{include.productnumber}}" rel="nofollow noopener">

    <div class="product-listing-boxitem-md-2">
        <div class="img-section item-product-{{include.productnumber}}-img">
            <img class="img" src="" alt="">
        </div>
        <div class="desc-section">
            <header class="header">
                <p  class="title item-product-{{include.productnumber}}-title"></p>
                <p class="subtitle item-product-{{include.productnumber}}-subtitle"></p>
            </header>
            <p class="content item-product-{{include.productnumber}}-desc"></p>
            
            <footer class="footer">
                <span class="btn btn-sm btn-cta item-product-{{include.productnumber}}-cta">Loading ...</span>
                <!-- <span class="info info-success">Oszczędzasz 15%</span> -->
            </footer>
        </div>

    </div>
</a>