{% assign product_type = include.product.properties.type %}
{% assign product_size = include.product.properties.product_size%}
{% assign product_color = include.product.properties.color %}
{% assign product_properties = product_type | append: ", " | append: product_size | append: ", " | append: product_color %}
{% assign product_properties_array = product_properties  | split: ", " %}

{% assign product_name = include.product.name %}
{% assign name_array = product_name  | split: " " %}

{% assign product_context = include.context %}
{% assign context_array = product_context  | split: " " %}

{% for context_item in context_array %}
    {% assign compare_context_item = context_item | downcase %}
    {% for name_item in  name_array %}
        {% assign compare_name_item = name_item | downcase %}
        {% if compare_name_item ==  compare_context_item%}              
            {% assign product_name = product_name | remove: name_item %}
        {% endif %}
        {% for property_item  in product_properties_array %}
            {% assign compare_property_item = property_item | downcase %}
            {% if compare_property_item ==  compare_context_item%}    
                {% assign product_properties = product_properties | remove: property_item%}
            {% endif %}              
        {% endfor %}
    {%endfor%}    
{% endfor %}

{% assign product_final_name = product_context | append: " " | append: product_name  %}
{% assign product_final_properties = product_properties | remove: ","  %}

<a href="{{ include.product.links[0].url }}{{ include.product.links.url }}" class="product-link-wrapper" rel="nofollow noopener" target="_blank"
    onClick="reply_click(this.getAttribute('data-link'))" data-link="{{include.product.links[0]['next-url'] }}{{include.product.links['next-url'] }}">

    {% if include.product.distinction == 'our_choice'%}
    <div class="product-listing-boxitem-md label label-strong label-danger arrow-{{include.arrow}}">
    {% elsif include.product.distinction == 'budget'%}
    <div class="product-listing-boxitem-md label label-strong label-success  arrow-{{include.arrow}}">
    {% elsif include.product.distinction == 'hot'%}
    <div class="product-listing-boxitem-md label label-danger arrow-{{include.arrow}}">
    {% elsif include.product.distinction == 'premium'%}
    <div class="product-listing-boxitem-md label label-warning arrow-{{include.arrow}}">
    {% else %}
    <div class="product-listing-boxitem-md arrow-{{include.arrow}}">
    {% endif %}

        <div class="img-section">
            <img class="img" src="{{include.product.photo}}" alt="{{ product_final_name }}">
        </div>
        <div class="desc-section">
            <header class="header">
                {% if include.title_tag == "h1"%}
                    <h1  class="title">{{ product_final_name }}</h1>
                {% elsif include.title_tag == "h2"%}
                    <h2  class="title">{{ product_final_name }}</h2>
                {% elsif include.title_tag == "h3"%}
                    <h3  class="title">{{ product_final_name }}</h3>
                {% elsif include.title_tag == "h4"%}
                    <h4  class="title">{{ product_final_name }}</h4>
                {% elsif include.title_tag == "h5"%}
                    <h5  class="title">{{ product_final_name }}</h5>
                {%else%}
                    <p  class="title">{{ product_final_name }}</p>
                {% endif %}

                <p class="subtitle">{{product_final_properties}}</p>
            </header>
            <p class="content">{{ include.product.description | truncate: 120 }}</p>
            {% if include.product.links.size > 0 %}
                <footer class="footer">
                    <span class="btn btn-sm btn-cta">{{ include.product.links[0]['anchor'] }} {{ include.product.links['anchor'] }}</span>
                    <!-- <span class="info info-success">Oszczędzasz 15%</span> -->
                </footer>
            {% endif %}
        </div>

        <div class="label-section">
            {% if include.product.distinction == 'our_choice'%}
                {{site.i18n[page.lang].our_choice}}
            {% elsif include.product.distinction == 'budget'%}
                {{site.i18n[page.lang].budget}}
            {% elsif include.product.distinction == 'hot'%}
                🔥 hot
            {% elsif include.product.distinction == 'premium'%}
                Premium
            {% endif %}
        </div>

        <svg class="cloud-arrow" xmlns="http://www.w3.org/2000/svg" width="21.586" height="41.396"
            viewBox="0 0 21.586 41.396">
            <rect width="2" height="37.625" transform="translate(19.396 1.818)" fill="#fff" />
            <path d="M-283.24-5027.121l-19.474,20,19.474,20" transform="translate(304.11 5027.818)"
                fill="#fff" stroke="#e7e9e9" stroke-width="2" />
        </svg>

    </div>

</a>