// *****************
// Color Variables
// *****************
$primary-color: #046245;
$secondary-color: #ffd001;
$dark: #333;
$gray: #595959;
$gray-dark: #595959;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
$green: #046245;
$warning: #d14;
$info: #03a9f4;
