---
layout: amp
---
<!doctype html>
<html amp lang="pl">

  {% include amp-head.html %}

  <body>
    <!-- google amp adSense-->
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2667869260064660">
    </amp-auto-ads>
    
    <div class="amp-container">

      {% include amp-header.html %}

      <article class="amp-post">
        <time class="amp-post__date " datetime="{{ page.date | date_to_xmlschema }}">{{ site.i18n[page.lang].updated }}: {{page.update_date | date: '%d-%m-%Y'}}</time>
        <h1 class="amp-post__title">{{ page.title | escape }}</h1>
        <p>{{ page.intro }}</p>
        {% if page.is_hub %}
        <nav class="beam-item b-size-5 posts-nav">
          <ul class="beam b-size-3 posts-nav-lvl-1">
              {% assign post_list_categories = page.post_list.categories%}
              {% for item in post_list_categories%}
              <li class="beam-item b-size-1">
              <span class="title">{{page.post_list.list_main_title}} <b>{{item.title}}</b></span>
              <ul class="posts-nav-lvl-2 ">
                  {% assign categorie_list = item.list %}
                  {% for item in categorie_list%}
                  <li><a href="{{item.link}}" title="{{page.post_list.list_main_title}} {{item.title}}">{{page.post_list.list_main_title}} <strong>{{item.title}}</strong></a></li>
                  {% endfor %}
              </ul>
              </li>
              {% endfor %}
          </ul>
        </nav>
      {% endif %}
      
        {% if page.image %}
          <amp-img class="amp-post-image" src="{{site.baseurl}}{{page.image}}" alt="{{ page.title | escape }}" height="500" width="800" layout="responsive"></amp-img>
        {% endif %}


        <p class="amp-post__toc-title">{{ site.i18n[page.lang].toc }}</p>
        <div class="amp-post__content">
          {{ content | markdownify | toc | amp_images}}
        </div>
      </article>


      {% assign articles = site.posts | where: "lang", page.lang %}

      {% for i in (0..articles.size) %}
        {% if articles[i].slug != page.slug %}
         {% continue %}
        {% endif %}

        {% assign prev_index = i | minus: 1 %}
        {% assign prev_article = articles[prev_index] %}

        {% assign last_index = articles.size | minus: 1 %}

        {% if i == last_index %}
          {% assign next_index = 0 %}
        {% else %}
          {% assign next_index = i | plus: 1 %}
        {% endif %}

        {% assign next_article = articles[next_index] %}

        {% break %}
      {% endfor %}


      {% if prev_article.url and prev_article.lang == page.lang or next_article.url and next_article.lang == page.lang %}
        <p class="h2 h-section">{{ site.i18n[page.lang].read_also }}</p>
      {% endif %}
      <nav class="amp-articles-listing">
      {% if prev_article.url and prev_article.lang == page.lang %}
        {% include parts/amp-article.html article=prev_article %}
      {% endif %}

      {% if next_article.url and next_article.lang == page.lang %}
        {% include parts/amp-article.html article=next_article %}
      {% endif %}
      </nav>
    </div>
  </body>
</html>
