---
layout: amp
---
<!doctype html>
<html amp lang="pl">

  {% include amp-head.html %}

  <body>
    <div class="amp-container">

      {% include amp-header.html %}

      <article class="amp-post">
        <time class="amp-post__date " datetime="{{ page.date | date_to_xmlschema }}">{{ site.i18n[page.lang].published }} {{page.date | date: '%d-%m-%Y'}}</time>
        <h1 class="amp-post__title">{{ page.title | escape }}</h1>

        {% if page.image %}
          <amp-img class="amp-post-image" src="{{site.baseurl}}{{page.image}}" alt="{{ page.title | escape }}" height="400" width="630"></amp-img>
        {% endif %}


        <p>{{ site.i18n[page.lang].toc }}</p>
        <div class="amp-post__content">
          {{ content | markdownify | toc | amp_images}}
        </div>
      </article>

    </div>
  </body>
</html>
