---
layout: amp
---

<!doctype html>
<html amp lang="pl">

  {% include amp-head.html %}

  <body>
    <div class="amp-container">

      {% include amp-header.html %}

      <article class="amp-post">
        <h1>{{ page.title | escape }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ site.i18n[page.lang].published }} {{page.date | date: '%d-%m-%Y'}}</time>

        {% if page.image %}
          <amp-img src="{{site.baseurl}}{{page.image}}" alt="{{ page.title | escape }}" height="400" width="630"></amp-img>
        {% endif %}


        <p>{{ site.i18n[page.lang].toc }}</p>

        {{ content | markdownify | toc | amp_images}}
      </article>

      <!-- {% if page.tags.size >= 1 %}
        <div>
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %} -->
    </div>
  </body>
</html>
