<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
  <head>
  <link rel="preload"  href="{{ site.baseurl }}/assets/css/pages/articles-listing.css?v=3" as="style">

  {% include head.html %}

  <link href="{{ site.baseurl }}/assets/css/pages/articles-listing.css?v=3" rel="stylesheet">

</head>

  <body>
    {% include header.html %}

    <main class="page page-articles-list">

        {% include breadcrumbs.html %}
    
        <div class="beams-wrapper  global-beam-wrapper articles-list-content ">
            <div class="beam b-size-4">
                <div class="beam-item b-size-3 articles-list-articles">
                    <section class="beam b-size-6">
                        <div class="beam-item b-size-6">
                            <h1 class="h-section">{{page.h1}}</h1>
                            <p>{{page.intro}}</p>
                        </div>
    
                        {% assign articles = site.posts | where:"lang", page.lang %}
                        {% assign i = 0 %}
    
                        {% for article in articles %}
                          {% if i == 0 or i == 1 %}
                            <div class="beam-item b-size-3">
                              {% include parts/articles-listing-boxitem-md.html article=article %}
                            </div>
                          {% else %}
                          <div class="beam-item b-size-2">
                            {% include parts/articles-listing-boxitem-sm.html article=article %}
                          </div>
                          {% endif %}
    
                          {% assign i = i | plus: 1 %}
                        {% endfor %}
    
                        <!-- <div class="beam-item beam-pagination">
                            <ul>
                                <li class="previous"><a href=""><img src="/assets/img/more-arrow.svg"  alt="Poprzednia strona"></a></a></li>
                                <li><a href="">1</a></li>
                                <li class="active"><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">...</a></li>
                                <li class="next"><a href=""><img src="/assets/img/more-arrow.svg"  alt="Następna strona"></a></li>
                            </ul>
                        </div> -->
                        
                    </section>
                </div>
                <div class="beam-item b-size-1 beam-rail articles-list-sidebar">
                  <div class="beam-rail-item rail-sidebar r-height-auto">
                    <div class="sticky-sidebar">

                      {% assign rankings = site.pages | where: 'lang', page.lang | where: 'layout', 'ranking' | sort: 'is_hub' | reverse  %}
                      {% assign promoted_articles = site.posts | where:"lang", page.lang  | where:"promoted", true %}
                      {% assign promoted_events = site.events | where:"lang", page.lang  | where:"promoted", true  | sort:  page.event_date | reverse %}    

                        {% if  promoted_events[0] %}
                        <section class="beam recommended-events">
                            <header class="beam-item">
                                <p class="h-section">{{site.i18n[page.lang].featured_events}}</p>
                            </header>                       
                            {% for item in promoted_events limit: 4 %}
                              <div class="beam-item">
                                {% include parts/events-listing-listitem-sm.html event=item %}
                              </div>
                            {% endfor %}
                            <!-- <div class="beam-item beam-more">
                                <a href="" class="btn btn-img-right btn-link">Zobacz więcej<img src="/assets/img/more-arrow.svg"  alt="Przeczytaj więcej"></a>
                            </div> -->
                        </section>
                      {% endif %}     

                      {% if  rankings[0] %}
                        <section class="beam recommended-reviews">
                            <header class="beam-item">
                                <p class="h-section">{{site.i18n[page.lang].featured_rankings}}</p>
                            </header>
                            {% for item in rankings limit: 4 %}
                              <div class="beam-item">
                                {% include parts/reviews-listing-listitem-sm.html ranking=item %}
                              </div>
                            {% endfor %}
                            <!-- <div class="beam-item beam-more">
                                <a href="" class="btn btn-img-right btn-link">Zobacz więcej<img src="/assets/img/more-arrow.svg"  alt="Przeczytaj więcej"></a>
                            </div> -->
                        </section>
                      {% else %}
                        <section class="beam recommended-articles">
                            <header class="beam-item">
                                <p class="h-section">{{site.i18n[page.lang].featured_articles}}</p>
                            </header>                       
                            {% for article in promoted_articles limit: 4 %}
                              <div class="beam-item">
                                {% include parts/articles-listing-listitem-sm.html article=article %}
                              </div>
                            {% endfor %}
                            <!-- <div class="beam-item beam-more">
                                <a href="" class="btn btn-img-right btn-link">Zobacz więcej<img src="/assets/img/more-arrow.svg"  alt="Przeczytaj więcej"></a>
                            </div> -->
                        </section>
                      {% endif %}   
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="beam b-size-2">
    
                <section class="beam-item b-size-2">
                    <h2 class="h-section">{{page.seo_section.title}}</h2>
                    <p>{{page.seo_section.content}}</p>
                </section>
            </div>
        </div>
    </main>

    {% include footer.html %}
    <!-- <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Lora:400,400i,700|IBM+Plex+Mono' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })();
    </script> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->

    {% include stickby-sidebar.html %}
    
    {% include all_pages_footer.html %}
  </body>
</html>
