<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->

    {% include footer.html %}

    <!-- <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Lora:400,400i,700|IBM+Plex+Mono' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script> -->

    {% include all_pages_footer.html %}
  </body>
</html>
