<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
  <head>
  <link rel="preload"  href="{{ site.baseurl }}/assets/css/pages/index.css?v=3" as="style">

  {% include head.html %}

  <link href="{{ site.baseurl }}/assets/css/pages/index.css?v=3" rel="stylesheet">

</head>

  <body>
    {% include header.html %}

    <main class="page page-index">
      <div class="beams-wrapper global-beam-wrapper index-title">
          <div class="beam b-size-4">
              <div class="beam-item b-size-4 index-title-content">
                  <svg id="Signature_-_gray" data-name="Signature - gray" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                      <g id="Group_42" data-name="Group 42" transform="translate(-172.5 -172.5)" opacity="0.19">
                          <path id="Path_129" data-name="Path 129" d="M214.082,188.5v8.909a1.018,1.018,0,0,1-1.018,1.018H209.5v-8.176Z" transform="translate(-27.582 -11.927)" fill="#233030"/>
                          <path id="Path_130" data-name="Path 130" d="M177.845,178.1v1.782l2.291-.876V186.5h-6.618a1.018,1.018,0,0,1-1.018-1.018V173.518a1.018,1.018,0,0,1,1.018-1.018h11.964a1.018,1.018,0,0,1,1.018,1.018v1.273Z" fill="#233030"/>
                      </g>
                  </svg>
                  <h1>{{page.h1}}</h1>
              </div>
          </div>
      </div>
      <div class="beams-wrapper global-beam-wrapper index-content">
          <div class="beam b-size-4">
              <div class="beam-item b-size-4 index-articles">
                  <section class="beam b-size-4">
                      <header class="beam-item b-size-4">
                          <p class="h-section">{{site.i18n[page.lang].recent_articles}}</p>
                      </header>
  
                      {% assign articles = site.posts | where:"lang", page.lang %}
                      {% assign i = 0 %}
  
                      {% for article in articles limit: 7 %}
                        {% if i == 0 or i == 9 %}
                          <div class="beam-item b-size-2">
                            {% include parts/articles-listing-boxitem-lg.html article=article %}
                          </div>
                        {% else %}
                        <div class="beam-item b-size-1">
                          {% include parts/articles-listing-boxitem-sm.html article=article %}
                        </div>
                        {% endif %}
  
                        {% assign i = i | plus: 1 %}
                      {% endfor %}
  
                  </section>

                    {% if page.recent_rankings %}
                    <section class="beam b-size-4">
                        <header class="beam-item b-size-4">
                            <p class="h-section">{{site.i18n[page.lang].recent_rankings}}</p>
                        </header>
    
                        {% assign rankings = site.pages | where:"lang",  page.lang  | where:"layout","ranking" | sort: 'is_hub' | reverse %}
                        {% assign i = 0 %}
    
                        {% for ranking in rankings limit:7%}
                          {% if i == 2 or i == 9 %}
                            <div class="beam-item b-size-2">
                              {% include parts/reviews-listing-boxitem-lg.html ranking=ranking %}
                            </div>
                          {% else %}
                          <div class="beam-item b-size-1">
                            {% include parts/reviews-listing-boxitem-sm.html ranking=ranking %}
                          </div>
                          {% endif %}
    
                          {% assign i = i | plus: 1 %}
                        {% endfor %}
    
                    </section>
                    {%endif%}
                    {% assign random_products = site.products | sample: 8 | where: "lang", page.lang%}
                    {% if random_products[3]%}
                    <section class="beam">                      
                      <header class="beam-item b-size-4">                        
                        <p class="h-section">{{site.i18n[page.lang].featured_products}}</p>
                      </header>
                      <div class="beam-item index-products">
                        <div class="flex-wrapper  nowrap">
                          <div class="flex-container">
                            {% for item in random_products %}
                                <div class="flex-item" >
                                {% include parts/product-listing-boxitem-md.html product=item %}
                                </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </section>
                    {%endif%}       
              </div>
          </div>       

          <div class="beam  b-size-4">
              <section class="beam-item b-size-2">
                  <h2 class="h-section">{{page.first_seo_section.title}}</h2>
                  <p>{{page.first_seo_section.content}}</p>
              </section>
              <section class="beam-item b-size-2">
                  <h2 class="h-section">{{page.second_seo_section.title}}</h2>
                  <p>{{page.second_seo_section.content}}</p>
              </section>
          </div>
      </div>
  </main>

    {% include footer.html %}
    <!-- <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Lora:400,400i,700|IBM+Plex+Mono' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })();
    </script> -->

    {% include all_pages_footer.html %}
  </body>
</html>
