{% assign related_products_1 = site.products | where: "path", page.related_products[0] %}
{% assign related_products_2 = site.products | where: "path", page.related_products[1]  %}
{% assign related_products_3 = site.products | where: "path", page.related_products[2]  %}
{% assign related_products_4 = site.products | where: "path", page.related_products[3]  %}
{% assign related_products_5 = site.products | where: "path", page.related_products[4]  %}
{% assign related_products_6 = site.products | where: "path", page.related_products[5]  %}
{% assign related_products_7 = site.products | where: "path", page.related_products[6]  %}
{% assign related_products_8 = site.products | where: "path", page.related_products[7]  %}
{% assign related_products_9 = site.products | where: "path", page.related_products[8]  %}
{% assign related_products_10 = site.products | where: "path", page.related_products[9]  %}
<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<link href="{{ site.baseurl }}/assets/css/pages/article.css?v=3" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/pages/review.css?v=3" rel="stylesheet">

<body>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  {% if page.lang == "pl" %}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v8.0" nonce="r5fqc9Oi"></script>
  {% endif %}
  {% include header.html %}

  <main class="page page-article">

    {% include breadcrumbs.html %}
    
    <div class="beams-wrapper  global-beam-wrapper article-content">
      <article class="beam b-size-5">
        <div class="beam-item b-size-3 article-text">
          <header class="article-header">
            <div class="detail-box">
              <span>{{ site.i18n[page.lang].updated }}: <time datetime="{{ page.update_date | date_to_xmlschema }}">{{page.update_date | date: '%d-%m-%Y'}}</time></span>
              <span class="article-label article-label-garden">{{ site.i18n[page.lang].home_and_garden }}</span>
            </div>
            <h1>{{ page.title }}</h1>

            {{ page.intro }}

            <figure>
              {% if page.image %}
              <img src='{{site.baseurl}}{{page.image}}' alt='{{ page.title | escape }}'></img>
              {% endif %}
            </figure>
          </header>

          <ins class="adsbygoogle"
              style="display:block"
              data-ad-format="fluid"
              data-ad-layout-key="-dx+59+ez-g3-g4"
              data-ad-client="ca-pub-2667869260064660"
              data-ad-slot="4714133490"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

          <div class="flex-wrapper  nowrap">
              <div class="flex-container">
                {% for product in related_products_1 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_2 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_3 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_4 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_5 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_6 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_7 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_8 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_9 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
                {% for product in related_products_10 %}
                  <div class="flex-item" >
                    {% include parts/product-listing-boxitem-md.html product=product %}
                  </div>
                {% endfor %}
              </div>
          </div>

          {{ content | inject_anchors | inject_ads }}

          <ins class="adsbygoogle"
              style="display:block"
              data-ad-format="fluid"
              data-ad-layout-key="-dx+59+ez-g3-g4"
              data-ad-client="ca-pub-2667869260064660"
              data-ad-slot="4714133490"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

          <footer class="article-footer">
            <section class="publication-author">
              <div class="profile-photo">
                <img class="img" src="/assets/img/authors/dorota_czerwinska.png" alt="Dorota Czerwińska - Treehouse">
              </div>
              <div class="profile-details">
                <span class="name">Dorota Czerwińska</span>
                <span class="position">{{site.i18n[page.lang].autor_label}}</span>
                <p>{{site.i18n[page.lang].author_description}}</p>
                <a href="mailto:dorota@treehouse.co" class="more">{{site.i18n[page.lang].contact_label}}: dorota@treehouse.co</a>
              </div>
            </section>


            {% assign articles = site.posts | where: "lang", page.lang %}

            {% for i in (0..articles.size) %}
              {% if articles[i] != page %}
               {% continue %}
              {% endif %}

              {% assign prev_index = i | minus: 1 %}
              {% assign prev_article = articles[prev_index] %}

              {% assign last_index = articles.size | minus: 1 %}

              {% if i == last_index %}
                {% assign next_index = 0 %}
              {% else %}
                {% assign next_index = i | plus: 1 %}
              {% endif %}

              {% assign next_article = articles[next_index] %}

              {% break %}
            {% endfor %}


            <div class="other-publications">
              {% if prev_article.url and prev_article.lang == page.lang %}
                <a href="{{ prev_article.url | prepend: site.baseurl }}" class="previous">
                  <span class="label">{{site.i18n[page.lang].previous_article}}:</span>
                  <span class="title">{{prev_article.title}}</span>
                  <img class="arrow" src="/assets/img/more-arrow-md.svg" alt="Przeczytaj więcej">
                </a>
              {% endif %}

              {% if next_article.url and next_article.lang == page.lang %}
                <a href="{{ next_article.url | prepend: site.baseurl }}" class="next">
                  <span class="label">{{site.i18n[page.lang].next_article}}:</span>
                  <span class="title">{{next_article.title}}</span>
                  <img class="arrow" src="/assets/img/more-arrow-md.svg" alt="Przeczytaj więcej">
                </a>
              {% endif %}
            </div>
          </footer>
        </div>

        <div class="beam-item b-size-2 beam-rail  review-sidebar">
            <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  <nav class="table-of-content" id="some-stickybit-nav">
                    <span class="title">{{ site.i18n[page.lang].toc }}</span>
                    {{ content | toc_only }}
                  </nav>
                  {% if page.lang == "pl" %}
                  <div class="fb-page-wrapper">
                    <div class="fb-page" data-href="https://www.facebook.com/treehouseinspiruje/" data-tabs="" data-width="440" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/treehouseinspiruje/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/treehouseinspiruje/">Treehouse</a></blockquote></div>
                  </div>
                  {% endif %}
                </div>
            </div>

            {% for product in related_products_1 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_2 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_3 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_4 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_5 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_6 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_7 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_8 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_9 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
            {% for product in related_products_10 %}
              <div class="beam-rail-item r-height-auto">
                <div class="sticky-element">
                  {% include parts/product-listing-boxitem-md.html product=product %}
                </div>
              </div>
            {% endfor%}
        </div>
      </article>

      <section class="beam  b-size-4 featured-articles">
        <div class="beam-item b-size-4">
            <h2 class="h-section">{{site.i18n[page.lang].promoted_articles}}</h2>
        </div>

        {% assign promoted_articles = site.posts | where:"lang", page.lang | where:"promoted", true %}

        {% for article in promoted_articles limit: 4 %}
          <div class="beam-item b-size-1">
            {% include parts/articles-listing-boxitem-sm.html article=article %}
          </div>
        {% endfor %}
      </section>

      <section class="beam b-size-4 featured-articles">
        <div class="beam-item b-size-4">
          <h2 class="h-section">{{site.i18n[page.lang].maybe_interesting}}</h2>
        </div>

        <!-- <div class="beam-item b-size-4"> -->
          {% assign random_articles = site.posts | where:"lang", page.lang | sample: 8 %}

          {% for article in random_articles %}
            {% assign main_keywords = article.main_keywords | sample: 1 %}

            {% if main_keywords %}
              <a href="{{ article.url | prepend: site.baseurl }}" class="btn btn-sm btn-link">{{ main_keywords }}</a>
            {% endif %}
          {% endfor %}
        <!-- </div> -->
      </section>
    </div>
  </main>

  {% include footer.html %}

  <script type="text/javascript" src="/assets/js/stickybits.js"></script>
  <script type="text/javascript">
      stickybits('.sticky-element', { stickyBitStickyOffset: 110 });
  </script>

  {% include all_pages_footer.html %}
</body>
</html>
