<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
  <head>

    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="refresh"  content="1; url={{ page.links[0].url }}{{ page.links.url }}">

    {% include head.html %}
    
    <link href="{{ site.baseurl }}/assets/css/global.css?v=3" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/pages/product.css?v=3" rel="stylesheet">
    
</head>

  <body>
    {% include parts/gtagmanager.html %}
    <div class="move-box">
      <img class="logo" src="/assets/img/logo.svg" alt="{{site.title}}">
      <div class="line">
        <div class="item"></div>
      </div>
      <img class="photo" src="{{page.photo}}" alt="{{page.name}}">
      <p class="title">{{page.name}}</p>
    </div>


  </body>
</html>
