<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
    <head>
    <link rel="preload"  href="{{ site.baseurl }}/assets/css/pages/products-listing.css?v=3" as="style">

  {% include head.html %}

  <link href="{{ site.baseurl }}/assets/css/pages/products-listing.css?v=3" rel="stylesheet">

</head>

  <body>
    {% include header.html %}

    <main class="page page-products-listing">

        {% include breadcrumbs.html %}

        <div class="beams-wrapper  global-beam-wrapper">
            <div class="beam b-size-4 products-listing-content">
                <div class="beam-item b-size-1 beam-rail products-listing-sidebar">
                    <div class="beam-rail-item rail-sidebar r-height-auto">
                        <div class="sticky-sidebar">

                            {% include parts/products-listings-nav.html %}
                            
                        </div>
                    </div>
                </div>
                <div class="beam-item b-size-3 products-listing-products">
                    <section class="beam b-size-4">
                        <div class="beam-item b-size-4">
                            <h1 class="h-section">{{page.h1}}</h1>
                            <p>{{page.intro}}</p>
                        </div>
                        <!-- Related products - Filter -->  

                        {% assign products_with_lang = site.products | where: "lang" , page.lang %}
                        {% assign products_collection = products_with_lang%}

                        {% if  page.products_tags.size > 0  %}
                          {% assign products_path_array = '' | split: ',' %}
                          {% for category_tag in page.products_tags  %}
                              {% for product in products_collection %}
                                  {% for product_tag in product.tags %}
                                      {% if product_tag == category_tag %}
                                          {% assign path_handle = product.path  | split: ',' %}
                                          {% assign products_path_array = products_path_array | concat: path_handle %}
                                      {% endif %}
                                  {% endfor%}
                              {% endfor %}
                          {% endfor %}
                          {% assign products_path_array = products_path_array | uniq %}
                          <!-- creating array of products with matching tags -->
                          {% assign products_collection = '' | split: ',' %}
                          {% for item in products_path_array %}
                              {% assign found_product = site.products | where: "path" , item %}
                              {% assign products_collection = products_collection  | concat: found_product %}
                          {% endfor %}
                          <!-- Po przefiltrowaniu tagów:  {{products_collection.size}}<br> -->
                        {% endif %}

                        {% assign random_products = products_collection | where: "category", page.products_category | where: page.property , page.property_value | sample: 12  %}           
                        <div class="beam-item index-products">
                            <div class="flex-wrapper">
                              <ul class="flex-container">
                                {% for item in random_products %}
                                    {% if page.seo_section%}
                                        <li class="flex-item" >
                                            {% include parts/product-listing-boxitem-md.html product=item context=page.product_context  title_tag="p"  %}
                                        </li>
                                    {%else%}
                                        <li class="flex-item" >
                                            {% include parts/product-listing-boxitem-md.html product=item context=page.product_context  title_tag="h2"  %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                          <div class="beam-item seo-text">
                              {{ content | markdownify | inject_anchors }}    
                          </div>
                    </section>
                </div>                
            </div>
            
            <section class="beam b-size-4 featured-articles">
                <header class="beam-item b-size-4">
                  <p class="h-section">{{site.i18n[page.lang].maybe_interesting}}</p>
                </header>
        
                <!-- <div class="beam-item b-size-4"> -->
                  {% assign random_articles = site.posts | where:"lang", page.lang | sample: 8 %}
        
                  {% for article in random_articles %}
                    {% assign main_keywords = article.main_keywords | sample: 1 %}
        
                    {% if main_keywords %}
                      <a href="{{ article.url | prepend: site.baseurl }}" class="btn btn-sm btn-link">{{ main_keywords }}</a>
                    {% endif %}
                  {% endfor %}
                  
                  {% assign random_product_listing = site.products_listings | where:"lang", page.lang | sample: 2 %}
                  {% for product_listing in random_product_listing %}
                    {% assign main_keywords = product_listing.main_keywords | sample: 1 %}
                    {% if main_keywords %}
                      <a href="{{ product_listing.url | prepend: site.baseurl }}" class="btn btn-sm btn-link">{{ main_keywords }}</a>
                    {% endif %}
                  {% endfor %}
                <!-- </div> -->
              </section>

        </div> 
    </main>

    {% include footer.html %}
    {% include stickby-sidebar.html %}   
    {% include stickby-element.html %} 
    {% include all_pages_footer.html %}
  </body>
</html>