<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <link href="{{ site.baseurl }}/assets/css/pages/reviews-listing.css?v=3" rel="stylesheet">

  <body>
    {% include header.html %}

    <main class=" page page-reviews-list">

      {% include breadcrumbs.html %}
  
      <div class="beams-wrapper  global-beam-wrapper reviews-list-content ">
          <div class="beam b-size-4">
              <div class="beam-item b-size-3 reviews-list-reviews">
                   <section class="beam b-size-6">
                      <header class="beam-item b-size-6">
                          <h1 class="h-section">{{page.h1}}</h1>
                          <p>{{page.intro}}</p>
                      </header>
  
                      {% assign rankings = site.pages | where: 'type', 'ranking' | where: 'is_hub', true  | where:"lang", page.lang %}
                      {% assign i = 0 %}  
                      {% for ranking in rankings %}
                        {% if i == 0 or i == 1 %}
                          <div class="beam-item b-size-3">
                            {% include parts/reviews-listing-boxitem-md.html ranking=ranking %}
                          </div>
                        {% else %}
                        <div class="beam-item b-size-2">
                          {% include parts/reviews-listing-boxitem-sm.html ranking=ranking %}
                        </div>
                        {% endif %}
  
                        {% assign i = i | plus: 1 %}
                      {% endfor %}
  
                  </section>
              </div>
              <div class="beam-item beam-rail b-size-1 reviews-list-sidebar">
                <div class="beam-rail-item rail-sidebar r-height-auto">
                  <div class="sticky-sidebar">
                    
                    {% assign promoted_articles = site.posts | where:"lang", page.lang  | where:"promoted", true %}  
                    {% assign promoted_events = site.events | where:"lang", page.lang  | where:"promoted", true | sort:  page.event_date | reverse %}   

                        {% if  promoted_events[0] %}
                        <section class="beam recommended-events">
                            <header class="beam-item">
                                <p class="h-section">{{site.i18n[page.lang].featured_events}}</p>
                            </header>                       
                            {% for item in promoted_events limit: 4 %}
                              <div class="beam-item">
                                {% include parts/events-listing-listitem-sm.html event=item %}
                              </div>
                            {% endfor %}
                              <!-- <div class="beam-item beam-more">
                                  <a href="" class="btn btn-img-right btn-link">Zobacz więcej<img src="/assets/img/more-arrow.svg"  alt="Przeczytaj więcej"></a>
                              </div> -->
                        </section>
                      {% endif %}
                      {% if  promoted_articles[0] %}
                        <section class="beam recommended-articles">
                          <header class="beam-item">
                              <p  class="h-section">{{site.i18n[page.lang].featured_articles}}</p >
                              </header>
                          {% for article in promoted_articles limit: 4 %}
                            <div class="beam-item">
                              {% include parts/articles-listing-listitem-sm.html article=article %}
                            </div>
                          {% endfor %}               
                              <!-- <div class="beam-item beam-more">
                                  <a href="" class="btn btn-img-right btn-link">Zobacz więcej<img src="/assets/img/more-arrow.svg"  alt="Przeczytaj więcej"></a>
                              </div> -->
                        </section>
                      {% endif %}
                    </div>
                  </div>

  
              </div>
          </div>
  
          <div class="beam b-size-2">
  
              <section class="beam-item b-size-2">
                  <h2 class="h-section">{{page.seo_section.title}}</h2>
                  <p>{{page.seo_section.content}}</p>
              </section>
          </div>
      </div>
  </main>
  
    {% include footer.html %}
    <!-- <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Lora:400,400i,700|IBM+Plex+Mono' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })();
    </script> -->

    {% include stickby-sidebar.html %}

    {% include all_pages_footer.html %}
  </body>
</html>
