<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<link href="{{ site.baseurl }}/assets/css/pages/review.css?v=3" rel="stylesheet">

<body>
  {% include header.html %}

  <main class="page page-review">
      
    {% include breadcrumbs.html %}

      <div class="beams-wrapper  global-beam-wrapper review-content">
          <article class="beam b-size-5">
            <header class="beam-item b-size-5 review-header">
                <div class="header-box">
                    <div class="article-rank-label-lg">
                        <img src="/assets/img/rank-star.svg" alt="Rank">
                        <span>Ranking</span>
                    </div>
                    <div class="title-box">
                        <div class="detail-box">
                            <span>{{ site.i18n[page.lang].updated }}: <time datetime="{{ page.update_date | date_to_xmlschema }}">{{page.update_date | date: '%d-%m-%Y'}}</time></span>
                            <span class="article-label article-label-garden">Dom</span>
                        </div>
                        <h1 class="title">{{ page.h1 }}</h1>
                    </div>
                </div>
            </header>

            {% assign products = site.products | where: "category", page.products_category | where: 'distinction', 'our_choice'  | where: "lang", page.lang %}

            {% assign main_product = products[0] %}
            <!-- {% assign second_product = products[-1] %} -->

            <div class="beam b-size-5  review-section">
                <div class="beam-item b-size-5 review-text">
                {{page.rankings_list.intro | markdownify}}
            </div>
            </div>

            <nav class="beam-item b-size-5 reviews-nav">
            <ul class="beam b-size-3 reviews-nav-lvl-1">
                {% assign rankings_list_categories = page.rankings_list.categories%}
                {% for item in rankings_list_categories%}
                <li class="beam-item b-size-1">
                <span class="title {{item.icon}}-reviews">{{page.rankings_list.list_main_title}} <b>{{item.title}}</b></span>
                <ul class="reviews-nav-lvl-2 ">
                    {% assign categorie_list = item.list %}
                    {% for item in categorie_list%} 
                    <li><a href="{{item.link}}" title="{{page.rankings_list.list_main_title}}  {{item.title}}">{{page.rankings_list.list_main_title}} <strong>{{item.title}}</strong></a></li>
                    {% endfor %}
                </ul>
                </li>
                {% endfor %}
            </ul>
            </nav>

            <div class="beam b-size-5  review-section">
                <div class="beam-item b-size-3 review-text">
                    <figure>
                        <img src="{{ page.image }}" alt="Test">
                        <figcaption>{{ page.h1 }}</figcaption>
                    </figure>
                    {{ page.intro | markdownify }}
                </div>
                <div class="beam-item b-size-2 beam-rail  review-sidebar">      	
                    <div class="beam-rail-item r-height-100">
                        <div class="sticky-element">
                        {% include parts/product-listing-boxitem-md.html product=main_product %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="beam b-size-5  review-section">
                <div class="beam-item b-size-5  review-text">
                    <h2>{{page.rankings_list.list_main_title}}</h2>
                    <div class="flex-wrapper  nowrap">
                        <div class="flex-container">
                        {% for product in products %}
                            <div class="flex-item" >
                            {% include parts/product-listing-boxitem-md.html product=product %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="beam b-size-5  review-section">
            <div class="beam-item b-size-3 review-text">
                {{ content | markdownify | inject_anchors }}
            </div>


            <div class="beam-item b-size-2 beam-rail  review-sidebar">
                <div class="beam-rail-item r-height-100">
                    <div class="sticky-element">
                        <nav class="table-of-content">
                            <span class="title">{{site.i18n[page.lang].toc}}</span>
                            {{ content | markdownify | toc_only }}
                        </nav>
                    </div>
                </div>
            </div>
            </div>

            <div class="beam">
                <div class="beam-item">
                    <footer class="review-footer">
                        <section class="publication-author">
                            <div class="profile-photo">
                                <img class="img" src="/assets/img/authors/dorota_czerwinska.png" alt="">
                            </div>
                            <div class="profile-details">
                                <span class="name">Dorota Czerwińska</span>
                                <span class="position">{{site.i18n[page.lang].autor_label}}</span>
                                <p>{{site.i18n[page.lang].author_description}}</p>
                                <a href="mailto:dorota@treehouse.co" class="more">{{site.i18n[page.lang].contact_label}}: dorota@treehouse.co</a>
                            </div>
                        </section>
                    </footer>
                </div>
            </div>
          </article>
          <section class="beam  b-size-4 featured-reviews">
              <div class="beam-item b-size-4">
                  <h2 class="h-section">Polecane rankingi</h2>
              </div>
              {% assign related_rankings = site.pages | where: 'is_hub', false | where: 'hub_name', page.hub_name %}             
              {% for related_ranking in related_rankings limit: 4 %}
                <div class="beam-item b-size-1">
                    {% include parts/reviews-listing-boxitem-sm.html ranking=related_ranking %}
                </div>
              {% endfor %}
          </section>

          <section class="beam b-size-4 featured-articles">
            <div class="beam-item b-size-4">
              <h2 class="h-section">{{site.i18n[page.lang].maybe_interesting}}</h2>
            </div>
    
            <!-- <div class="beam-item b-size-4"> -->
              {% assign random_articles = site.pages | where:"lang", page.lang | where: "layout", "ranking" | sample: 8 %}
    
              {% for article in random_articles %}
                {% assign main_keywords = article.main_keywords | sample: 1 %}
    
                {% if main_keywords %}
                  <a href="{{ article.url | prepend: site.baseurl }}" class="btn btn-sm btn-link">{{ main_keywords }}</a>
                {% endif %}
              {% endfor %}
            <!-- </div> -->
          </section>
      </div>
  </main>


  {% include footer.html %}

  <script type="text/javascript" src="/assets/js/stickybits.js"></script>
  <script type="text/javascript">
      stickybits('.sticky-element', { stickyBitStickyOffset: 110 });
  </script>

  {% include all_pages_footer.html %}
</body>
</html>
