.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px 7px 15px;
    border: 1px solid $gray-3;
    border-radius: 4px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: $gray-6;
    outline: none;
    cursor: pointer;
    * {
        color: $gray-6;
    }
    s, u, i, b, strong {
        padding: 0 3px;
    }
    &:hover {
        border-color: lighten( $main, 5%);
    }
    &:active {
        transform: scale(0.97);
    }
    &.btn-sm {
        font-size: 13px;
        line-height: 17px;
        padding: 5px 10px 4px 10px;
        * {
            font-size: 13px;
            line-height: 17px;

        }
    }
    &.btn-main {
        background-color: $main;
        color: $gray-0;
        border-color: $main;
        &:hover {
            background-color: lighten( $main, 5%);
            color: $gray-0;
            border-color: lighten( $main, 5%);
        }
    }
    &.btn-cta {
        background-color: $danger;
        color: $gray-0;
        border-color: $danger;
        * {
            color: $gray-0;
        }
        &:hover {
            background-color: lighten( $danger, 5%);
            color: $gray-0;
            border-color: lighten( $danger, 5%);
        }
    }
    &.btn-up {
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    &.btn-img-right {
        font-weight: normal;
        img {
            position: relative;
            padding-left: 10px;
            top: -1px;
        }
    }
    &.btn-img-left {
        font-weight: normal;
        img {
            position: relative;
            padding-right: 10px;
            top: -1px;
        }
    }
    &.btn-active {
        border-color: $main;
        &:hover {
            border-color: lighten( $main, 10%);
        }
    }
    &.btn-link {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: normal;
        border: 0px;
        img {
            padding-right: 0px;
        }
        &:hover {
            background-color: $gray-1;
        }
    }
}
.btn-group {
    position: relative;
    display: inline-block;
    .info {
        position: absolute;
        bottom:6px;
        left:50%;
        width: 100%;
        transform: translateX(-50%);
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        &.info-success {
            color: $garden;
        }
    }
}
.inp {
    display: inline-flex;
    margin-bottom: 20px;
    .info {
        position: absolute;
        bottom: -10px;
        left: 0px;
        width: 100%;
        font-size: 8px;
        color: $danger;
        line-height: 10px;
    }
    input {
        display: inline-flex;
        line-height: 32px;
        height: 34px;
        border: 1px solid $gray-3;
        border-radius: 4px;
        padding: 2px 25px 0 15px;
        font-size: 14px;
        outline: none;
        margin-bottom: 0px;
        &::placeholder {
            color: $gray-3;
        }
        &:focus {
            border: 1px solid $main;
        }
    }
    &.success {
        position: relative;
        &:before {
            background-image: url('../img/inp-success.svg');
            background-size: cover;
            content: "";
            display: block;
            height: 7px;
            right: 10px;
            position: absolute;
            bottom: 13px;
            width: 10px;
        }
    }
    &.danger {
        position: relative;
        input {
            border-color: $danger;
        }
        &:before {
            background-image: url('../img/inp-danger.svg');
            background-size: cover;
            content: "";
            display: block;
            height: 10px;
            right: 10px;
            position: absolute;
            bottom: 12px;
            width: 2.3px;
        }
    }
}

.inp-btn {
    display: inline-flex;
    .inp {
        border-right-width: 0px;
        border-radius: 4px 0px 0px 4px;
        &:focus {
            border-right-width: 0px;
        }
    }
    .btn {
        height: 34px;
        padding: 0px 20px;
        border-radius: 0px 4px 4px 0px;
    }
}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
    img,
    figcaption {
        width: 100%;
    }
    figcaption {
        background-color: $gray-1;
        padding: 10px 20px;
        font-size: 13px;
        line-height: 22px;
    }
}

.distinction {
    display: block;
    position: relative;
    padding: 20px;
    background-color: $gray-1;
    border-left: 5px solid $gray-3;
    margin-bottom: 30px;
    margin-top: 20px;
    &.distinction-question,
    &.distinction-information,
    &.distinction-warning {
        &:before {
            content: "";
            display: block;
            position: absolute;
            height: 30px;
            width: 30px;
            background-size: cover;
            top: 50%;
            transform: translateY(-50%);
            left: -50px;
        }
    }
    >* {
        margin: 0;
        margin: 0px 0px 10px 0px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    h1,
    h2,
    h3,
    h4 {
        font-size: 15px;
        line-height: 22px;
        &::before {
            display: none;
        }
    }
    &.distinction-question {
        background-color: rgba($main, .03);
        border-left: 5px solid $main;
        color: darken($main, 5%);
        * {
            color: darken($main, 5%);
        }
        &:before {
            background-image: url('../img/icon-question.svg');
        }
    }
    &.distinction-information {
        background-color: rgba($info, .03);
        border-left: 5px solid $info;
        color: $info;
        * {
            color: $info;
        }
        &:before {
            background-image: url('../img/icon-info.svg');
        }
    }
    &.distinction-warning {
        background-color: rgba($danger, .03);
        border-left: 5px solid $danger;
        color: $danger;
        * {
            color: $danger;
        }
        &:before {
            background-image: url('../img/icon-danger.svg');
        }
    }
}

@media (max-width:1200px+100px) {
    .distinction {
        &.distinction-question,
        &.distinction-information,
        &.distinction-warning {
            &:before {
                left: -18px;
                top: 0px;
            }
        }
    }
}

.article-label {
    display: inline-flex;
    padding: 7px 10px 5px 10px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 600;
    &.article-label-main {
        color: $gray-0;
        background-color: $main;
    }
    &.article-label-garden {
        color: $gray-0;
        background-color: $garden;
    }
    &.article-label-construction {
        color: $gray-6;
        background-color: $construction;
    }
    &.article-label-interior {
        color: $gray-0;
        background-color: $interior;
    }
}

.article-rank-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    color: $gray-0;
    background-color: $main;
}

.article-rank-label-lg {
    background-color: $main;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px 15px;
    img {
        width: 20px;
        height: 30px;
    }
    span {
        font-size: 10px;
        line-height: 10px;
    letter-spacing: .4px;
        margin-top: 5px;
        font-weight: bold;
        text-transform: uppercase;
        color: $gray-0;
    }
}

.list {
    padding-left: 40px;
    list-style: none;
    li {
        line-height: 26px;
        padding-bottom: 10px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 10px;
            left: -26px;
            height: 6px;
            width: 6px;
            background-image: url('../img/list-dot.svg');
            background-position: center;
        }
    }
    &.list-positive {
        li {
            &:before {
                top: 10px;
                left: -26px;
                height: 7px;
                width: 10px;
                background-image: url('../img/list-dot-positive.svg');
            }
        }
    }
    &.list-negative {
        li {
            &:before {
                top: 8px;
                left: -26px;
                height: 9px;
                width: 9px;
                background-image: url('../img/list-dot-negative.svg');
            }
        }
    }
    &.list-advantages {
        li {
            &:before {
                top: 4px;
                left: -28px;
                height: 14px;
                width: 14px;
                background-image: url('../img/list-dot-advantages.svg');
            }
        }
    }
    &.list-disadvantages {
        li {
            &:before {
                top: 4px;
                left: -28px;
                height: 14px;
                width: 14px;
                background-image: url('../img/list-dot-disadvantages.svg');
            }
        }
    }
}

@media (max-width: 550px) {
    .list {
        padding-left: 20px;
        li {
            &:before {
                left: -16px;
            }
        }
    }
}

.lists-cols {
    display: flex;
    flex-flow: row wrap;
     .col {
        flex-basis: 250px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-grow: 1;
        > * {
            margin-top: 0px;
        }
        h1,h2,h3,h4 {
            margin-bottom: 10px;
        }
    }
}

q {
    display: block;
    position: relative;
    padding: 20px;
    background-color: $gray-1;
    margin-bottom: 30px;
    margin-top: 20px;
    &:after,
    &:before {
        display: none;
    }
    footer {
        display: block;
        position: relative;
        padding-top: 5px;
        margin-top: 5px;
        border-top: 1px solid $gray-2;
        font-size: 13px;
        line-height: 19px;
        text-align: right;
        * {
            font-size: 13px;
            line-height: 19px;
        }
        a {
            color: darken($main, 5%);
        }
    }
    &.opinion {
        background-color: $gray-0;
        padding: 0px;
        display: flex;
        flex-flow: row wrap;
        .content-box {
            flex-basis: 250px;
            order: 2;
            flex-grow: 1;
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid $gray-2;
            .rating {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-bottom: 10px;
                .rating-stars {
                    path {
                        fill: $gray-2;
                    }
                    &.stars-50 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-3 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-4 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-5 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                    }
                    &.stars-45 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-3 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-4 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-5 {
                            .half {fill:$construction}
                        }
                    }
                    &.stars-40 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-3 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-4 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                    }
                    &.stars-35 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-3 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-4 {
                            .half {fill:$construction}
                        }
                    }
                    &.stars-30 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-3 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                    }
                    &.stars-25 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-3 {
                            .half {fill:$construction}
                        }
                    }
                    &.stars-20 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                    }
                    &.stars-15 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                        .star-item-2 {
                            .half {fill:$construction}
                        }
                    }
                    &.stars-10 {
                        .star-item-1 {
                            .all {fill:$construction}
                            .half {fill:$construction}
                        }
                    }
                    &.stars-5 {
                        .star-item-1 {
                            .half {fill:$construction}
                        }
                    }
                }
                .rating-note {
                    position: relative;
                    top:1px;
                    padding-left: 5px;
                    font-size: 13px;
                    line-height: 13px;
                }
            }
        }
        .author-box {
            flex-basis: 100px;
            order: 1;
            padding-top: 0px;
            margin-top: 0px;
            border-top: none;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            .name {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .img {
                width: 100%;
                max-width: 80px;
                margin-top: 5px;
            }
        }
        @media (max-width:550px) {
            .content-box {
                flex-basis: 100%;
                padding-left: 0px;
                margin-left: 0px;
                border-left: none;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid $gray-2;
            }
            .author-box {
                flex-basis: 100%;
                margin-bottom: 20px;
            }
        }
    }
}

.table {
    border-collapse: collapse;
    th,
    td {
        text-align: left;
        padding: 5px 10px 5px 0;
    }
    tr {
        padding-top: 2px;
        margin-top: 2px;
        border-top: 1px solid $gray-2;
        &:last-child {
            border-bottom: 1px solid $gray-2;
        }
    }

}
.table-of-content {
    padding: 0 0 0 40px;
    border-left: 1px solid $gray-2;
    // margin-bottom: 20px;
    >.title {
        font-weight: bold;
    }
    ul, ol {
        list-style: none;
        padding-left: 20px;
        margin-top: 20px;
        li {
            margin-top: 10px;
            a {
                display: inline-block;
                text-decoration: none;
                line-height: 20px;
            }
        }
    }
}

.reviews-nav {
    .reviews-nav-lvl-1 {
        list-style: none;
        >li {
            min-width: 300px;
            flex-grow: 1;
            flex-shrink: 0;
            margin-bottom: 30px;
            .title {
                display: block;
                padding-left: 50px;
                position: relative;
                margin-bottom: 20px;
                &:before {
                    content: "";
                    display: block;
                    height: 40px;
                    width: 40px;
                    position: absolute;
                    top:-9px;
                    left:0;
                    background-size: cover;
                }
                &.type-reviews {
                    &:before {
                        background-image: url('../img/icon-review-type.svg');
                    }
                }
                &.size-reviews {
                    &:before {
                        background-image: url('../img/icon-review-size.svg');
                    }
                }
                &.producent-reviews {
                    &:before {
                        background-image: url('../img/icon-review-producent.svg');
                    }
                }
            }
            .reviews-nav-lvl-2 {
                list-style: none;
                padding-left: 30px;
                margin-left: 20px;
                border-left: 1px solid $gray-2;
                > li {
                    &:first-child {
                        a {
                            padding-top: 0px;
                        }
                    }
                    &:last-child {
                        a {
                            padding-bottom: 0px;
                        }
                    }
                    a {
                        display: block;
                        padding: 7px 0;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

.publication-author {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $gray-2;
    margin: 30px 0;
    .profile-photo {
        .img {
            max-width: 150px;
        }
    }
    .profile-details {
        display: flex;
        flex-direction: column;
        padding: 15px 0 0 20px;
        .name {
            font-weight: bold;
            margin-bottom: 5px;
            line-height: 26px;
        }
        p {
            margin: 10px 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .more {
            font-size: 12px;
            text-decoration: none;
            color: $gray-6;
            line-height: 20px;
            img {
                position: relative;
                top: -2px;
            }
        }
    }
}
@media (max-width: 350px) {
    .publication-author {
        padding-top: 30px;
        flex-direction: column;
        .profile-details {
            padding-left: 0px;
        }
    }
}

.other-publications {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $gray-2;
    margin: 30px 0;
    padding-top: 30px;
    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        flex-grow: 1;
        .title {
            font-weight: bold;
            margin: 10px 0;
        }
        &.previous {
            padding-right: 10px;
            >* {
                align-self: flex-start;
                text-align: left;
            }
            .arrow {
                transform: rotate(180deg);
            }
        }
        &.next {
            padding-left: 10px;
            >* {
                align-self: flex-end;
                text-align: right;
            }
        }
        &:hover {
            .title {
                color: lighten( $main, 5%);
            }
        }
        &:active {
            transform: scale(0.97);
        }
    }
}
@media (max-width: 350px) {
    .other-publications {
        flex-direction: column;
        a {
            &.previous {
                padding-right: 0px;
                padding-bottom: 20px;
                border-bottom: 1px solid $gray-2;
            }
            &.next {
                padding-top: 20px;
                padding-left: 0px;
                >* {
                    align-self: flex-start;
                    text-align: left;
                }
            }
        }
    }
}
